* {
    padding: 0;
    margin-top: 0.8rem;
    text-align: center;
    color: white;
    font-family: "Poiret One", cursive;

  }
  .header h2 {
    border: 2px solid #fff;
    border-style: ridge;
    border-bottom: 6px solid rgb(230, 216, 28);
    border-left: 6px solid rgb(230, 216, 28);
    border-bottom-right-radius: 10px;
    float: left;
    margin-left: 2rem;
    padding: 0.3rem; 
  }
  .login-btn {
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
  }
  .input-group {
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    background: rgb(197, 161, 161);
    margin: auto;
    // padding: 2px;
  }
  